@if (@Model != null)
{
<div>
    <div>
        <h2>Caridia Order Form</h2>
        <h3>Player Name @Model.PlayerName</h3>
        <h3>Order Form: @Model.OrderNumber</h3>
    </div>
    <div>
        <table style="border-collapse: collapse; border: 2px solid black" width="100%" class="table table-striped bg">
            <thead>
                <tr align="center" style="border: 1px solid black; border-style:solid">
                    <th width="20%" style="text-align: center">Name</th>
                    <th width="20%" style="text-align: center">Quality</th>
                    <th width="20%" style="text-align: center">Price</th>
                    <th width="20%" style="text-align: center">Quantity</th>
                    <th width="20%" style="text-align: center">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.BuyProducts)
                {
                    <tr align="center" style="border: 1px solid black; border-style: solid;">
                        <td width="20%">@item.Name</td>
                        <td width="20%">@item.Quality</td>
                        <td width="20%">@item.Price</td>
                        <td width="20%">@item.Quantity</td>
                        <td width="20%">@item.Total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <table style="border-collapse: collapse; border: 2px solid black" width="100%" class="table table-striped">
            <thead>
                <tr align="center" style="border: 1px solid black; border-style:solid">
                    <th width="20%" style="text-align: center">Name</th>
                    <th width="20%" style="text-align: center">Quality</th>
                    <th width="20%" style="text-align: center">Price</th>
                    <th width="20%" style="text-align: center">Quantity</th>
                    <th width="20%" style="text-align: center">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.SellProducts)
                {
                    <tr align="center" style="border: 1px solid black; border-style: solid;">
                        <td width="20%">@item.Name</td>
                        <td width="20%">@item.Quality</td>
                        <td width="20%">@item.Price</td>
                        <td width="20%">@item.Quantity</td>
                        <td width="20%">@item.Total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    
}
