<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caridia Crossroads Market Place</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Order Form", "Index", "OrderForm")</li>
                    <li>@Html.ActionLink("Item Management", "Index", "Item")</li>
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Caridia Crossroads Market Place : Foster Bros</p>
        </footer>
    </div>
    <script src="~/Scripts/deps/lodash.js"></script>
    <script src="~/Scripts/deps/moment.js"></script>
    <script src="~/Scripts/deps/async.min.js"></script>
    <script src="~/Scripts/deps/jquery-3.3.1.slim.js"></script>
    <script src="~/Scripts/deps/jquery-3.3.1.js"></script>
    <script src="~/Scripts/deps/jquery.validate.js"></script>
    <script src="~/Scripts/deps/bootstrap.js"></script>
    <script src="~/Scripts/deps/knockout-3.4.2.js"></script>
    <script src="~/Scripts/deps/modernizr-2.8.3.js"></script>
    <link href="~/Scripts/deps/LifeIsFeudalStyle.css" rel="stylesheet" />
    @RenderSection("modals", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>
